name: Reusable Docker Push

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Checkout Repository (Needed for Dockerfile context/cache)
        uses: actions/checkout@v4

      # This step re-builds, but the Docker layer caching should make it extremely fast,
      # effectively acting as a push command for the built image layers.
      - name: Push Docker Image to Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ inputs.image_name }}:${{ inputs.tag }}
